.item {
    color: black;
    background-color: #bdeaf7;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.likeBox {
    display: flex;
    align-items: baseline;
}

.like {
    height: 30px;
    background-color: #d95c5a;
    padding: 2px 8px;
    border-radius: 5px;
    
}

.likeCount {
    height: 30px;
    width: 60px;
    margin: 0 0 0 10px;
    text-align: center;

    border-radius: 5px;
    background-color: #e69b9a;
}

.messageBlock {
    margin: 10px 0;
    display: flex;
    align-items: baseline;
    align-self: start;
}

.message {
    width: 700px;
    margin: 0 0 0 30px;
    color: #000000;
}

.ava {
    color: #EFF59C;
    background: #7B4004;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
}