.dialogsBox {
    height: 87vh;
    background-color: #bdeaf7;
    display: grid;
    grid-template-columns: 4fr 10fr;
}

.friendsSide {
    width: 300px;
    border-right: 2px solid;
    padding: 10px;
}

.dialogSide {
    display: grid;
    grid-template-rows: 10fr 3fr;
}


